<!DOCTYPE html>

<html>
  <head>
    <title>{{.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <style>
      nav {
        background-color: #7986cb;
      }
      .page-footer{
        background-color:#9fa8da;
      }
      .page-footer .footer-copyright{
        background-color: #7986cb;
      }

    </style>
  </head>
  <body>
