<div class="navbar-fixed">
    <nav class="nav-extended">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo center">Eye Candy</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/category">Categories</a></li>
          <li><a href="/tag">Tags</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <ul class="sidenav" id="mobile-demo">
    <li><a href="/">Eye Candy</a></li>
    <li><a href="/category">Categories</a></li>
    <li><a href="/tag">Tags</a></li>
  </ul>